#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_hemp0x
#build/hemp0xd::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_hemp0x)

%:
	dh --with bash-completion $@

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) distclean; fi
	rm -rf Makefile.in aclocal.m4 configure src/Makefile.in src/hemp0x-config.h.in src/build-aux src/test/Makefile.in

# Yea, autogen should be run on the source archive, but I like doing git archive
override_dh_auto_configure:
	./autogen.sh
	./configure --without-gui

override_dh_auto_test:
	make check
