buildspecs
Jenkinsfile
*.tar.gz

*.exe
src/hemp0x
src/hemp0xd
src/hemp0x-cli
src/hemp0x-tx
src/test/test_hemp0x
src/test/test_hemp0x_fuzzy
src/test/test_hemp0x_hash
src/qt/test/test_hemp0x-qt
.vscode
output.txt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/hemp0x-config.h
src/config/hemp0x-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist



src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.settings
.cproject
.project
.vscode

.deps
.dirstamp
.libs
.*.swp
*.*~*
*~
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
hemp0x-qt
Hemp0x-Qt.app

# Unit-tests
Makefile.test
hemp0x-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_hemp0x.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libhemp0xconsensus.pc
contrib/devtools/split-debug.sh
.idea
cmake-build-debug
.kilo/

CMakeLists.txt

# ===== Hemp0x-specific ignores =====

# Hemp0x binaries
src/hemp0xd
src/hemp0x-cli
src/hemp0x-tx

# Genesis / mining artifacts
GENESIS_FOUND.txt
genloop.sh

# Depends build output
depends/work/
depends/built/
depends/*-linux-gnu/

# Local build helpers
fix_depends.py
depends/project-config.jam
